<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">
    body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    <link rel="stylesheet" href="assets/styles.css">
    input[type="quantity"]{
    text-align:center;
    }
</style>

</head>
<body>

{{template "new-navbar"}}

<div class="container maincontainerindex">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5">
      <img src="assets/rs7.png" class="rounded shadow-sm p-2 mb-3 bg-white rounded" height: "50px";>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>


<div class="container pb-5 "></div> 
<div class="container bg-light ml-10 mr-10 shadow-sm pt-1 pb-1 pl-4 mb-3 bg-white rounded">
<dv class="container p-1">
<h3>All System Queues</h3>
<p>Please ensure drivers are dispatched for system orders before dispatching for queue.</p>
<p>Orders on the top of the liste are the first to be dispatched. </p>

  <div class="col-sm-8 pl-4"><h5>
</h5></div>
  <div class="col-sm-4"><form method="post"><button type="submit" name="dispatchqueue" value="dispatchqueue" class="btn btn-dark text-justify">Dispatch {{(index . 0).SystemQueueNumber }}</button></form></div>

</div>

<div class="container pb-5 "></div> 
<div class="container bg-light ml-10 mr-10 rounded shadow-sm p-2 mb-3 bg-white rounded">
<dv class="container p-1 ">



{{range .}}

<div class="row">
  <div class="col-sm-8 pl-4"><h5>{{.SystemQueueNumber}}</h5></div>
  <div class="col-sm-4"></div>
</div>

<div class="row">
  <div class="col-sm-8 pt-1 pl-4"><strong>Priority Number:</strong></div>
  <div class="col-sm-4 pt-1">{{.PriorityIndex}}</div>
</div>

<div class="row">
  <div class="col-sm-8 pt-1 pl-4"><p>Order Tagged to:</p></div>
  <div class="col-sm-4 pt-1">{{.UserName}}</div>
</div>

<div class="row">
  <div class="col-sm-8 pl-4"><p>Associated Transactions</p></div>
  <div class="col-sm-4"></div>

  {{range $TVALUE := .TransID}}
    <div class="col-sm-8"><p></p></div>
  <div class="col-sm-4"><p>{{$TVALUE}}</p></div>
  {{end}}

    {{if .DriverName}}
        <div class="col-sm-8 pl-4"><p></p></div>
  <div class="col-sm-4"><p>Delivery Driver ID: {{.DriverName}}</p></div>
  {{else}}
          <div class="col-sm-8 pl-4"><p class="text-danger">No Drivers dispatched for this order. Please dispatch!<br>[Menu: System Queue/ Dispatch Driver]</p></div>
  <div class="col-sm-4"><p></p></div>

  {{end}}

</div>

{{end}}
</div>

</div>

<div class="container pb-4"></div>

</body>

{{template "new-footer"}}
</html> 
