<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">
    body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    <link rel="stylesheet" href="assets/styles.css">
    input[type="quantity"]{
    text-align:center;
    }
</style>

</head>
<body>

{{template "new-navbar" .}}

<div class="container maincontainerindex">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5"> 
     

{{if .Data}}
    <img src="assets/rs5.png" class="rounded shadow-lg p-2 mb-3 rounded">
    {{else}}
    <img src ="assets/rs6.png" class="rounded shadow-lg p-2 mb-3 rounded">
{{end}}

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>


<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded shadow-sm p-2 mb-3 rounded">
<div class="container p-1">
<h3>Your Cart</h3>
</div></div> 


<div class="container bg-light ml-10 mr-10 rounded shadow-sm p-2 mb-3 rounded">

<div class="row">
  <div class="col-sm-8"><h4>Food Name</h4></div>
  <div class="col-sm-4"><h4>Quantity</h4></div>
</div>



{{range $KEY, $VALUE := .Data}}
	<form method="post"> 	

    <div class="row">	
    <div class="col-sm-8">{{$VALUE.FoodName}}<input type = "hidden" name = "pid" value = {{$VALUE.PID}}></div>	
    <div class="col-sm-4"></div>	
    </div>	



<div class ="row pt-2"></div>

   <div class="row">	
  <div class="col-sm-8"></div>
	
  <div class="col-sm-2"><input type="number" class="form-control text-justify" name="quantity" value={{$VALUE.Quantity}}></div>
  <div class="col-sm-2"><button type="submit" class="btn btn-dark text-justify" name="updatecart" value="updatecart">Update</button></div>

</div> 


<div class="row">
  <div class="col-sm-8 pt-1"><p>Unit Cost</p></div>
  <div class="col-sm-4 pt-1"><p>${{$VALUE.UnitPrice}}</p></div>

</div>

<div class="row">
  <div class="col-sm-8"><p><strong>Total Cost</strong></p></div>
  <div class="col-sm-4"><p>${{$VALUE.TotalCost}}</p></div>
  
</div>
</form>
{{end}}

<div class="container bg-light ml-10 mr-10">

<form method="post"> 
 
  <div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
  
       {{if .Data}}

    <label for="exampleFormControlInput1">Enter Priority Index Number here if the order is for service recovery</label>
    <input type="number" class="form-control" name="priorityindex" placeholder="Priority Index Value: 0-99">


  <div class="col-sm-2 pt-3"><button type="submit" class="btn btn-dark text-justify">Checkout</button></div></div>
  </div>
{{end}}
  </form>

  <div class="container pb-4"></div>

</div>
</div>

</body>
</html> 



