<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">



  html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

    body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    <link rel="stylesheet" href="assets/styles.css">
    input[type="quantity"]{
    text-align:center;
    }






</style>



</head>
<body>

{{template "new-navbar" .}}

<div class="container maincontainerindex">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5">
      <img src="assets/rs2.png">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded-lg shadow-sm pt-2 pl-5 pr-6 mb-3 bg-white">
<div class="container p-1">
<h3>Didn't find what you want? How 'bout searching for it again?</h3>
</div></div>

<div class="container bg-light ml-10 mr-10">

</div>
</div>

<div class="container pt-2">

{{range .Data}}

<form method="post"> 
<div class="row m-2">
  <div class="col-sm-8 bg-light rounded pt-2">
    {{.FoodName}}
  <input type = "hidden" name = "pid" value = {{.PID}}>
  </div>
  <div class="col-sm-2"><input type="number" class="form-control text-center" name="quantity" value=1>
  </div>
  <div class="col-sm-2"><button type="submit" class="btn btn-dark text-justify">Add to Cart</button></div>
</form>
</div>

{{end}}

</div>

<div class="container pb-4"></div>

</body>

{{template "new-footer"}}
</html> 
