<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">



  html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

    body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    <link rel="stylesheet" href="assets/styles.css">
    input[type="quantity"]{
    text-align:center;
    }

</style>



</head>
<body>

{{template "new-navbar" .}}

<div class="container maincontainerindex">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5">
      <!-- <img src="assets/rs2.png"> -->
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded-lg shadow-sm pt-2 pl-5 pr-6 mb-3 bg-white">
<div class="container p-1">
<h3>Case ID results below</h3>
{{if .Data.LastAction}}
   Latest Action on Casualty: {{.Data.LastAction}}
{{end}}
<br>
{{if .Data.LastActionTime}}
   Latest Action on Casualty: {{.Data.LastActionTime}}
{{end}}

<br>-------------<br><br>

Case ID: {{.CaseID}}

{{if .Data.Name}}
   <br>Case id's name: {{.Data.Name}}
{{end}}

{{if .Data.Nric}}
   <br>Case id's NRIC: {{.Data.Nric}}
{{end}}

{{if .Data.MortuaryDataCreatedDate}}
   <br>Case data received first scan at: {{.Data.MortuaryDataCreatedDate}}
{{end}}

{{if .Data.BodyCleanIn}}
<br>   Case checked in for cleaning at: {{.Data.BodyCleanIn}}
<br>   Case checked in for cleaning at: {{.Data.BodyCleanInTeam}}
{{end}}

{{if .Data.BodyCleanOut}}
 <br>  Case checked out from cleaning at: {{.Data.BodyCleanOut}}
 <br>  Case checked out from cleaning at: {{.Data.BodyCleanOutTeam}}
{{end}}

{{if .Data.BodyDressIn}}
   <br>Case checked in dressing in: {{.Data.BodyDressIn}}
   <br>Case checked in dressing in: {{.Data.BodyDressInTeam}}
{{end}}

{{if .Data.BodyDressOut}}
   <br>Case checked out from dressing at: {{.Data.BodyDressOut}}
   <br>Case checked out from dressing at: {{.Data.BodyDressOutTeam}}
{{end}}

{{if .Data.EcoffinIn}}
   <br>Case checked in at ecoffin in: {{.Data.EcoffinIn}}
   <br>Case checked in at ecoffin in: {{.Data.EcoffinInTeam}}
{{end}}

{{if .Data.EcoffinOut}}
   <br>Case checked out at ecoffin at: {{.Data.EcoffinOut}}
   <br>Case checked out at ecoffin at: {{.Data.EcoffinOutTeam}}
{{end}}

{{if .Data.InPro}}
   <br>Case Inproed at Mortuary at: {{.Data.InPro}}
   <br>Case Inproed at Mortuary at: {{.Data.InProTeam}}
{{end}}

{{if .Data.OutPro}}
   <br>Case OutProed at: {{.Data.OutPro}}
   <br>Case OutProed at: {{.Data.OutProTeam}}
{{end}}

{{if .Data.PeGoStorage}}
   <br>Case moving from PE to PE storage: {{.Data.PeGoStorage}}
   <br>Case moving from PE to PE storage: {{.Data.PeGoStorageTeam}}
{{end}}

{{if .Data.PeInPro}}
   <br>Case check in at PE: {{.Data.PeInPro}}
   <br>Case check in at PE: {{.Data.PeInProTeam}}
{{end}}

{{if .Data.PeIntoStorage}}
   <br>Case checked in at PE storage area: {{.Data.PeIntoStorage}}
   <br>Case checked in at PE storage area: {{.Data.PeIntoStorageTeam}}
{{end}}

{{if .Data.PeOutPro}}
   <br>Case checked out from PE at: {{.Data.PeOutPro}}
   <br>Case checked out from PE at: {{.Data.PeOutProTeam}}
{{end}}

{{if .Data.PeOutofStorage}}
   <br>Case PE moved out of storage lockers: {{.Data.PeOutofStorage}}
   <br>Case PE moved out of storage lockers: {{.Data.PeOutofStorageTeam}}
{{end}}

{{if .Data.ProcessedCleanIn}}
   <br>Case checked into processed cleaned area for storage: {{.Data.ProcessedCleanIn}}
   <br>Case checked into processed cleaned area for storage: {{.Data.ProcessedCleanInTeam}}
{{end}}

{{if .Data.ProcessedCleanOut}}
   <br>Case checked out of processed cleaned storage area : {{.Data.ProcessedCleanOut}}
   <br>Case checked out of processed cleaned storage area : {{.Data.ProcessedCleanOutTeam}}
{{end}}

{{if .Data.QRCodeDataCreatedDate}}
  <br>Case's QR code was created on : {{.Data.QRCodeDataCreatedDate}}
{{end}}

{{if .Data.TransportIn}}
   <br>Case checked in with Transport: {{.Data.TransportIn}}
   <br>Case checked in with Transport: {{.Data.TransportInTeam}}
{{end}}

{{if .Data.TransportOut}}
   <br>Case checked out with Transport: {{.Data.TransportOut}}
   <br>Case checked out with Transport: {{.Data.TransportOutTeam}}
{{end}}

{{if .Data.UnprocessedIn}}
   <br>Case checked into storage (unprocessed yet): {{.Data.UnprocessedIn}}
   <br>Case checked into storage (unprocessed yet): {{.Data.UnprocessedInTeam}}
{{end}}

{{if .Data.UnprocessedOut}}
   <br>Case checked out of storage (unprocessed yet): {{.Data.UnprocessedOut}}
   <br>Case checked out of storage (unprocessed yet): {{.Data.UnprocessedOutTeam}}
{{end}}

</div>

<br>-------------<br>

<div class="row">

{{range $KEY, $VALUE := .ScanData}}

<div class="col-sm-8"><p>CheckPoint Name:</p></div>
<div class="col-sm-4"><p>{{$VALUE.ActionName}}</p></div>

<div class="col-sm-8"><p>CheckPoint Time:</p></div>
<div class="col-sm-4"><p>{{$VALUE.ActionTime}}</p></div>

{{end}}

</div>
</body>

<!-- {{template "new-footer"}} -->
</html> 

